
.header{
    position: sticky;
    top: 0;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.header::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 99.27vw;
    border-bottom: 0.1rem solid var(--color-input-border);
    top: 0;
    z-index: -1;
    background-color: var(--color-background);
}

.navigation__list{
    display: flex ;
    gap: 2rem;
}

.navigation{
    transition: var(--transition-timing);
}
.navigation__link:link,
.navigation__link:visited{
    text-decoration: none;
    font-weight: var(--font-weight-medium);
}

.navigation__link:hover,
.navigation__link:active{
    text-decoration: underline;
    color: var(--color-text);
}

.container:has(.bio:target) .navigation__bio
,.container:has(.skills:target) .navigation__skills 
,.container:has(.projcets:target) .navigation__projcets 
,.container:has(.clients:target) .navigation__Clients 
,.container:has(.contact:target) .navigation__contact 
{
    color: var(--color-blue);
    text-decoration: underline;
    font-weight: var(--font-weight-bold);


}

.burger-menu__checkbox{
    display: none;
}

/*Toggle Start*/
.toggle{
    display: flex;
    gap: 1rem;
    margin-left: auto;
    align-items: center;
}

.toggle__title{
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-18);
}

.toggle__checkbox{
display: none;
    
}

.toggle__label{
    display: block;
    position: relative;
    background-color: var(--color-black);
    border-radius: 1.5rem;
    width: 2.8125rem;
  height: 1.375rem;
    cursor: pointer;
    padding: 0.1875rem 0.25rem;
    transition: 0.6s;
}

.toggle__label::after{
    content: "";
    display: block;
    width: 1rem; 
    height: 1rem;
    background-color: var(--color-white);
    transition: 0.6s;
    border-radius: 50%;
background-image: url('../images/sun.svg');
    background-size: 87%;
    background-repeat: no-repeat;
    background-position: center;
}
 
.toggle__checkbox:checked + .toggle__label{
     background-color: var(--color-white);
}
.toggle__checkbox:checked + .toggle__label::after{
    transform: translateX(1.3rem);
    background-color: var(--color-green);
background-image: url('../images/moon.svg');
}
